* {
    box-sizing: border-box;
    font-family: serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

p {
    font-size: 20px;
}

.heading {
    font-size: 35px;
}


.nav ul {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav li a:hover {
    background-color: #e0dede;
}
