* {
    box-sizing: border-box;
    font-family: serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

p {
    font-size: 20px;
}

.heading {
    font-size: 35px;
}